@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  .inner {
    @include flexbox;

    margin: 0 0 100px;

    @include tablet {
      flex-direction: column;
    }

    .content {
      margin: 0 95px 0 0;
      flex-basis: 50%;

      @include laptop {
        margin: 0 55px 0 0;
      }

      @include minimum {
        text-align: center;

        margin: 0;
      }

      &Box {
        margin: 0 0 69px;

        &:last-of-type {
          margin: 0 0 50px;
        }

        .title {
          color: $purple;
          display: inline-block;
          margin-bottom: 12px;
        }

        .textBox {
          .text {
            @include defaultFont;

            margin: 0 0 12px;

            &:last-of-type {
              margin: 0;
            }
          }
        }
      }
    }

    .servicesList {
      flex-basis: 50%;
      counter-reset: servicesCounter;

      @include tablet {
        order: -1;

        margin-bottom: 50px;
      }

      .item {
        @include defaultFont;
        counter-increment: servicesCounter;
        outline: 1px solid $grey;
        margin: 0 0 12px;
        padding: 10px 19px 9px 113px;
        position: relative;
        width: 90%;
        transition: all 0.5s;

        @include laptop {
          width: 95%;
          padding-left: 80px;
        }

        @include tablet {
          width: 90%;
          padding-left: 130px;
        }

        @include mobile {
          width: 100%;
          padding-left: 100px;
        }

        &:last-of-type {
          margin: 0;
        }

        &::before {
          content: "0" counter(servicesCounter);
          position: absolute;
          left: 20px;
          font-weight: 400;
          font-size: 36px;
          line-height: 53px;
          color: $grey;
          transform: rotate(-90deg);
          transition: all 0.5s;
        }

        &:nth-child(n + 10) {
          &::before {
            content: counter(servicesCounter);
          }
        }

        .title {
          @include title24Font;

          transition: all 0.5s;
        }

        &:hover {
          outline: 2px solid $purple;
          width: 100%;

          &::before {
            color: $purple;
          }

          .title {
            color: $purple;
          }
        }
      }
    }
  }
}
