@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  background-color: $dark-purple;
  background-image: url(../../assets/img/bg/header.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  color: $white;

  min-height: 700px;

  margin-bottom: 300px;
  padding: 47px 0 0;

  .top {
    @include flexbox;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 105px;

    .phone {
      @include title36Font;
      font-weight: 400;
    }
  }

  .content {
    position: relative;

    .title {
      font-weight: 400;
      @include title72Font;
      text-transform: uppercase;
    }

    .motto {
      display: inline-block;

      color: $white;
      @include title36Font;
      text-transform: uppercase;

      margin-bottom: 30px;
    }

    .text {
      @include defaultFont;

      max-width: 762px;

      margin-bottom: 30px;
    }

    :global .socialBlock {
      width: 250px;

      margin: 70px 0 20px 66px;
    }
  }

  .decorCar {
    position: absolute;
    right: 0;
    top: 338px;
  }
}
