@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  background-color: $dark-purple;
  background-image: url(../../assets/img/bg/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  min-height: 700px;
  color: $white;

  padding: 47px 0 0;

  a:focus,
  a:active {
    outline: 1px solid $white;
  }

  .top {
    @include flexbox();
    justify-content: space-between;
    align-items: center;

    .phone {
      font-size: 36px;
      line-height: 53px;
      font-weight: 400;
    }
  }

  .content {
    position: relative;
    padding: 105px 0 0;

    .text {
      margin: 30px 0;
      max-width: 762px;
    }

    .social {
      padding: 70px 0 20px 66px;
      width: 250px;
    }

    .decorCar {
      position: absolute;
      top: 338px;
      right: 0;
    }
  }
}
