@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  background-color: $dark-purple;
  background-image: url(../../assets/img/bg/header.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  color: $white;

  min-height: 700px;

  margin-bottom: 300px;
  padding: 47px 0 0;

  @include tablet {
    margin-bottom: 280px;
  }

  .top {
    @include flexbox;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 105px;

    .phone {
      @include title36Font;
      font-weight: 400;
    }
  }

  .content {
    position: relative;

    .title {
      font-weight: 400;
      @include title72Font;
      text-transform: uppercase;

      @include tablet {
        font-size: 65px;
        line-height: 70px;

        margin-bottom: 10px;
      }
    }

    .motto {
      display: inline-block;

      color: $white;
      @include title36Font;
      text-transform: uppercase;

      margin-bottom: 30px;

      @include tablet {
        font-size: 30px;
        line-height: 50px;
      }
    }

    .text {
      @include defaultFont;

      max-width: 762px;

      margin-bottom: 30px;
    }

    :global .socialBlock {
      width: 250px;

      margin: 70px 0 20px 66px;

      @include tablet {
        width: 180px;
      }
    }
  }

  .decorCar {
    position: absolute;
    right: 0;
    top: 338px;

    @include tablet {
      top: 360px;

      max-width: 690px;
    }

    .img {
      max-width: 100%;
    }
  }
}
