@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  margin-bottom: 100px;

  @include mobile {
    margin-bottom: 50px;
  }

  :global .sectionTitle {
    &::after {
      @include mobile {
        width: 45px;
      }
    }
  }

  .inner {
    margin-left: -7px;
    margin-right: -7px;

    padding: 0 0 50px;

    .item {
      &Box {
        margin: 0 7px;
        padding: 6px 6px 16px;
        background-color: $white;
        border: 1px solid $grey;
        @include flexbox;
        flex-direction: column;
        align-items: center;

        transition: all 0.5s;

        .itemImg {
          width: 100%;
        }

        .title {
          color: $black;
          text-transform: uppercase;

          margin: 23px auto 5px;

          @include tablet {
            @include title24Font;

            margin: 23px auto 0px;
          }
        }

        .itemText {
          @include defaultFont;
          margin: 0 auto;

          @include tablet {
            font-size: 20px;
            line-height: 24px;
          }
        }

        &:hover {
          background-color: $purple;
          border: 1px solid $purple;
          color: $white;

          .title {
            color: $white;

            transition: all 0.5s;
          }
        }
      }
    }
  }
}
