@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  background-color: $dark-purple;
  color: $white;

  .inner {
    @include flexbox;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    @include mobile {
      flex-direction: column-reverse;
    }

    :global .socialBlock {
      @include mobile {
        margin-bottom: 20px;
      }
    }

    .copy {
      @include defaultFont;

      @include mobile {
        margin-bottom: 20px;
      }
    }
  }
}
