// Breakpoints
@mixin maximum {
  @media (min-width: $maximum) {
    @content; // min = 1440px 🙂 Default styles look good
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content; // min = 1280px 🙂 Default styles look good
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content; // min = 1024px 💻
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content; // min = 768px
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content; // min = 480px 📱
  }
}

@mixin minimum {
  @media (max-width: $minimum) {
    @content; // < 480px
  }
}
// (end of) Breakpoints

@mixin flexbox {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;

  display: flex;
  font-size: 0;
}

@mixin flexboxInline {
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;

  display: inline-flex;
  font-size: 0;
}

// Default font
@mixin defaultFont {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}
@mixin defaultFontIncreased {
  font-size: 20px;
  line-height: 24px;
}

// (end of) Default font

// Button font
@mixin buttonFont {
  font-size: 14px;
  line-height: 21px;

  button {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
  }
}
// (end of) Button font

// Titles font
@mixin title72Font {
  font-size: 72px;
  line-height: 107px;
}

@mixin title72FontDecreased {
  font-size: 65px;
  line-height: 70px;
}

@mixin title36Font {
  font-size: 36px;
  line-height: 53px;
}

@mixin title36FontDecreased {
  font-size: 30px;
  line-height: 50px;
}

@mixin title24Font {
  font-size: 24px;
  line-height: 36px;
}
// (end of) Titles font
