@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: $mw;
  position: relative;
}

body {
  background-color: $bgcolor;

  color: $color;
  font-size: 100%;
  line-height: 1;
  @include defaultFont;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: $container-width;

  margin: 0 auto;

  @include laptop {
    min-width: 954px;
    margin: 0 25px;
  }

  @include tablet {
    min-width: 398px;
    margin: 0 25px;
  }

  @include mobile {
    min-width: 430px;
    margin: 0 25px;
  }

  @include minimum {
    min-width: 310px;
    margin: 0 25px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include defaultFont;
}

ul li,
ol li {
  list-style: none;
}

img {
  display: inline-block;
  vertical-align: top;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  font-family: inherit;
}

input,
select {
  vertical-align: middle;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
