$mw: 360px;

// Breakpoints
$minimum: 479px; // < 480px
$mobile: 767px; // min = 480px 📱

$tablet: 1023px; // min = 768px

$laptop: 1279px; // min = 1024px 💻
$desktop: 1439px; // min = 1280px 🙂 Default styles look good

$maximum: 1440px; // min = 1440px 🙂 Default styles look good
// (end of) Breakpoints

// Colors
$white: #ffffff;
$black: #2c2b2b;
$grey: #c4c4c4;

$dark-purple: #21062a;
$purple: #5a0d67;
// (end of) Colors

$bgcolor: $white;
$color: $black;

$container-width: 1200px;
