// Colors
$white: #ffffff;
$black: #2c2b2b;
$grey: #c4c4c4;

$dark-purple: #21062a;
$purple: #5a0d67;
// (end of) Colors

// Breakpoints
$mw: 1080;
$xs: 575.98;
$sm: 767.98;
$md: 991.98;
$lg: 1199.98;
$xl: 1399.98;
// (end of) Breakpoints

// Default font
$font-family: "Oswald", sans-serif;
$font-weight: 300;
$font-size: 18px;
$line-height: 27px;
// (end of) Default font

$bgcolor: $white;
$color: $black;
$min-width: 320px;

$container-width: 1200px;
