$bgcolor: #ffffff;
$color: #000000;
$min-width: 320px;

// Default font
$font-family: "Inter", sans-serif;
// (end of) Default font

// Breakpoints
$min-width: 320px;
$mw: 1080;
$xs: 575.98;
$sm: 767.98;
$md: 991.98;
$lg: 1199.98;
$xl: 1399.98;
// (end of) Breakpoints
