@import "./normalize";
@import "./button";

// Carousel
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
// (end of) Carousel

a:focus,
a:active {
  outline: 1px solid $white;
}

// Titles
.sectionTitle {
  position: relative;

  color: $dark-purple;
  font-weight: 400;
  @include title36Font;
  text-transform: uppercase;

  margin-bottom: 50px;

  @include tablet {
    margin-bottom: 35px;
  }

  &::after {
    content: "";
    width: 80px;
    height: 3px;
    background-color: $dark-purple;
    position: absolute;
    top: 25px;
    margin: 0 0 0 20px;
  }
}
// (end of) Titles

.carousel {
  .slick-dots {
    bottom: -75px;

    li {
      margin: 0 30px;

      @include mobile {
        margin: 0 20px;
      }

      button {
        &::before {
          content: "";
          width: 50px;
          height: 3px;
          opacity: 1;
          background-color: $grey;

          @include mobile {
            width: 30px;
          }
        }

        &:hover,
        &:focus,
        &:active {
          &::before {
            background-color: $purple;
          }
        }
      }

      &.slick-active {
        button {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}
