@import "./normalize";
@import "./mixins";

.button,
.motto,
.title,
.subtitle {
  text-transform: uppercase;
}

.title {
  font-size: 72px;
  line-height: 107px;
}

.motto {
  font-size: 36px;
  line-height: 53px;
}

.button {
  @include flexbox();
  justify-content: center;
  align-items: center;
  background-color: $purple;
  width: 250px;
  height: 50px;
  font-size: 14px;
  line-height: 21px;
  transition: all 0.5s;

  &:hover {
    color: $purple;
    background-color: $white;
  }
}

.social-links {
  width: 125px;
  @include flexbox();
  align-items: center;
  flex-wrap: wrap;

  li {
    padding-right: 10px;

    &:last-of-type {
      padding-right: 0;
    }
  }
}
