@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  margin-bottom: 50px;

  .inner {
    @include flexbox;
    justify-content: space-between;

    .info {
      padding: 50px 0;

      .contactsList {
        .item {
          @include defaultFont;

          margin: 0 0 20px;

          .title {
            color: $purple;
          }

          .text {
            .phone {
              &:focus,
              &:active {
                outline: 1px solid $purple;
              }
            }
          }
        }
      }
    }

    .contactsForm {
      @include flexbox;
      flex-direction: column;
      flex-basis: 50%;

      background-color: $dark-purple;
      padding: 50px 75px 57px;

      :global .sectionTitle {
        color: $white;
        margin-bottom: 16px;
        margin-left: 53px;

        &::after {
          background-color: $white;
        }
      }

      .inputs {
        @include flexbox;
        flex-direction: column;

        .input {
          @include defaultFont;
          color: $white;
          text-align: center;
          padding: 24px;
          border: 1px solid $white;
          margin: 0 0 12px;

          &::placeholder {
            text-align: center;
            @include defaultFont;
            color: $grey;
          }

          &:hover,
          &:focus,
          &:active {
            border: 1px solid $purple;
          }
        }
      }

      :global .buttonBlock {
        margin: 78px auto 0;

        padding: 14px 73px 15px 72px;
      }
    }
  }
}
