@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  margin-bottom: 50px;

  .inner {
    @include flexbox;
    justify-content: space-between;

    .info {
      padding: 50px 0;

      @include tablet {
        padding: 25px 0;
      }

      :global .sectionTitle {
        margin-bottom: 25px;

        &::after {
          @include tablet {
            width: 45px;
          }
        }
      }

      .contactsList {
        .item {
          @include defaultFont;

          margin: 0 0 20px;

          .title {
            color: $purple;
          }

          .text {
            .phone {
              &:focus,
              &:active {
                outline: 1px solid $purple;
              }
            }
          }
        }
      }
    }

    .contactsForm {
      @include flexbox;
      flex-direction: column;
      flex-basis: 50%;

      background-color: $dark-purple;
      padding: 50px 75px 57px;

      @include tablet {
        flex-basis: 60%;

        padding: 25px 40px 40px 50px;
      }

      :global .sectionTitle {
        color: $white;
        margin-bottom: 16px;
        margin-left: 53px;

        @include laptop {
          margin-left: 23px;
        }

        @include tablet {
          margin-left: 15px;
        }

        &::after {
          background-color: $white;

          @include laptop {
            width: 65px;
          }

          @include tablet {
            width: 45px;
          }
        }
      }

      .inputs {
        @include flexbox;
        flex-direction: column;

        .input {
          @include defaultFont;
          color: $white;
          text-align: center;
          padding: 24px;
          border: 1px solid $white;
          margin: 0 0 12px;

          @include tablet {
            padding: 18px;
          }

          &::placeholder {
            text-align: center;
            @include defaultFont;
            color: $grey;
          }

          &:hover,
          &:focus,
          &:active {
            border: 1px solid $purple;
          }
        }
      }

      :global .buttonBlock {
        margin: 78px auto 0;

        padding: 14px 73px 15px 72px;

        @include tablet {
          margin: 40px auto 0;
        }
      }
    }
  }
}
