@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  margin-bottom: 100px;

  .inner {
    @include flexbox;
    color: $white;

    .decorCar {
      @include tablet {
        max-width: 230px;
        flex-basis: 100%;
      }

      .img {
        max-width: 100%;
      }
    }

    .content {
      margin: 0 0 0 95px;
      flex-basis: 100%;

      @include tablet {
        margin-left: 30px;
      }

      .title {
        margin-left: 185px;

        @include laptop {
          margin-left: 140px;
        }

        @include tablet {
          margin-left: 90px;
        }
      }

      .benefitsList {
        background-color: $dark-purple;
        padding: 23px 284px 45px 185px;

        @include laptop {
          padding: 23px 155px 45px 140px;
        }

        @include tablet {
          padding: 23px 100px 30px 90px;
        }

        .item {
          margin-bottom: 20px;

          .numTitle {
            font-weight: 400px;
            @include title36Font;
          }

          .textTitle {
            @include title24Font;
            text-transform: lowercase;

            margin-left: 0;
          }

          .text {
            @include defaultFont;
          }
        }
      }
    }
  }
}
