@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  margin-bottom: 100px;

  .inner {
    @include flexbox;
    color: $white;

    .content {
      margin: 0 0 0 95px;
      flex-basis: 100%;

      .title {
        margin-left: 185px;
      }

      .benefitsList {
        background-color: $dark-purple;
        padding: 23px 284px 45px 185px;

        .item {
          margin-bottom: 20px;

          .numTitle {
            font-weight: 400px;
            @include title36Font;
          }

          .textTitle {
            @include title24Font;
            text-transform: lowercase;

            margin-left: 0;
          }

          .text {
            @include defaultFont;
          }
        }
      }
    }
  }
}
